html {
    font-size: 20px;
    font-family: 'Monserrat', sans-serif;
    line-height: 1.7;
}

h1 {
    font-weight: 300;
}

form {
    padding: 0 2rem;
    margin: 1rem 0;
    font-weight: 100;
}

.formBox {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.formBox label {
    flex-basis: 20ch;
    text-align: end;
    padding-right: 2rem;
    padding-inline-end: 2rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: #444;
}

.formBox input {
    flex-basis: auto;
    font-size: 1rem;
    font-weight: 100;
    color: #333;
    position: relative;
    padding: 0.25rem 1rem;
}

.formBox button {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 0.25rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    flex-basis: auto;
    margin-left: 20ch;
    margin-inline-start: 20ch;
}

legend {
    margin: 0 4rem;
    padding: 0 1rem;
    color: #4caf50;
}